# CAUTION: DO NOT ADD encrypted value!
#          test/test_test_helper.rb asserts ENV.
#          And this will show ENV accidentally in CI log.
language: "ruby"
rvm:
  - "1.9"
  - "2.0"
  - "2.1.10"
  - "2.2.5"
  - "2.3.1"
  - "ruby-head"
matrix:
  allow_failures:
    - rvm: "ruby-head"
before_install:
  - "gem update bundler"
  - "bin/setup"
before_script:
  - "printenv"
after_script:
  - "printenv"
